.http-method{
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
}

.http-method-header {
    padding: 10px;
    background-color: #373950;
    border-radius: 5px;
    margin-bottom: 10px;
}

.http-method-text {
    font-weight: 550;
    margin-right: 5px
}

.http-method-post-text {
    color: #69952a;
}

.http-method-get-text {
    color: #5757c1;
}

.http-method-response-model {
    font-size: 1em;
}

.http-method-response-model-value {
    color: var(--md-accent-fg-color);
}